{% extends "layout.html" %} {% block content %}

<div class="page-header">
  <h1>Welcome to Dead Twitter.js!</h1>
</div>

{% if showForm %}
<form id="new-tweet" action="/tweets" method="POST">
  <label for="name_field">Name:</label>
  <input name="name" type="text" id="name_field" class="form-control" value="{{name}}" style="width: 350px; display:inline"
  />

  <label for="text_field">Text:</label>
  <input name="text" type="text" id="text_field" class="form-control" style="width: 350px; display:inline" />

  <input class="btn btn-info" type="submit" value="Submit" />
</form>
{% endif %}

<div class="row">
  <div id='tweet-feed' class="col-md-9">

    <!-- display tweets here -->
    {% for tweet in tweets %}
    <div id='single-tweet'>
      <img class="deadbird" src="/assets/deadbird.jpeg">
      <h4 class="user">
        <a href="/users/{{tweet.name}}">
          <em>{{tweet.name}}</em>
        </a>
      </h4>
      <p class="tweet">
        {{tweet.content}}
      </p>
    </div>
    {% endfor %}

  </div>
</div>

{% endblock %}